<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Camalot.Common" version="1.0.5937.17275" targetFramework="net472" />
  <package id="Managed.AndroidDebugBridge" version="1.0.0.0" targetFramework="net472" />
  <package id="morelinq" version="1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net472" />
</packages>